.button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  &--primary {
    background-color: var(--secondary-color);
    color: var(--main-text-color);
    box-shadow: var(--shadow-red);
    &:hover {
      box-shadow: var(--shadow-red-hover);
    }
    &.disabled {
      cursor: not-allowed;
      background-color: var(--disabled-bg-color);
      color: var(--disabled-text-color);
      box-shadow: unset;
    }
  }
  &--secondary {
    background-color: var(--main-text-color);
    color: var(--secondary-color);
    box-shadow: var(--shadow-white);
    &:hover {
      box-shadow: var(--shadow-white-hover);
    }
  }
  &--third {
    background-color: transparent;
    color: var(--third-color);
    box-shadow: var(--shadow-white);
    &:hover {
      color: var(--main-text-color);
      box-shadow: var(--shadow-white-hover);
    }
  }
}