.description {
  font-family: "lato", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 1px;
  text-align: justify;
  &__strong {
    font-weight: 900;
  }
}