.language-switcher {
  display: flex;
  align-items: center;
  &__lang {
    position: relative;
    padding: 0 2px;
    background-color: var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
    transition: font-weight 0.3s ease-in-out;
    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 50%;
      width: calc(100% - 4px);
      transform: translateX(-50%);
      height: 1px;
      background-color: var(--main-text-color);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
    &:disabled {
      cursor: not-allowed;
      font-weight: 700;
      &::after {
        opacity: 1;
      }
    }
  }
}
