.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 25px 35px;
  box-shadow: var(--shadow-red);
  color: var(--main-text-color);
  &__logo {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}