.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 25px 35px;
  box-shadow: var(--shadow-red);
  color: var(--main-text-color);
  overflow: hidden;
  &__logo {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__actions {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}

@media screen and (max-width: 700px) {
  .header {
    padding: 18px 20px;
    gap: 16px;
    &__logo {
      font-size: 18px;
    }
    &__actions {
      gap: 10px;
    }
  }
}
