@media screen and (max-width: 992px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    z-index: 1000;
    &__logo {
      font-size: 14px;
      display: inline-block;
    }
  }

  .container {
    padding: 100px 15px 30px 15px;
  }

  .flex-center-column {
    gap: 24px;
  }

  .title {
    font-size: 24px;
  }

  .button {
    font-size: 12px;
    padding: 12.5px 20px;
  }

  .description {
    text-align: justify;
    font-size: 14px;
  }

  .flex-row-wrapper {
    flex-direction: column;
    align-items: center;
    max-width: 75%;
    .button {
      width: 100%;
    }
  }

  .roles-wrapper {
    flex-direction: column;
  }
  .roles-card {
    width: 80%;
    height: 100%;
    &__image {
      object-fit: cover;
    }
    &__information {
      padding: 25px;
      border: 3.25px solid var(--main-text-color);
    }
    &__text {
      font-size: 14px;
    }
  }
  .player-card {
    width: 257.5px;
    height: 335px;
    img {
      object-fit: cover;
    }
  }

  .notification {
    top: unset;
    bottom: 5px;
    right: 5px;
    left: 5px;
    max-width: unset;
    gap: 7px;
    &__header {
      gap: 7px;
    }
    &__title {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 700px) {
  .timer {
    width: 100%;
    &__clock {
      span {
        font-size: 80px;
      }
    }
  }
}

@media screen and (max-width: 470px) {
  .timer {
    &__clock {
      margin-bottom: 15px;
      svg {
        width: 28px;
        height: 36px;
        right: 4%;
        path {
          opacity: 0.2;
          transition: opacity 0.3s ease-in-out;
          cursor: pointer;
          &:hover {
            opacity: 0.2;
          }
        }
      }
    }
    &__controls {
      margin: 0 auto;
      width: 210px;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      button {
        flex: 40%;
      }
    }
  }
}