/* SETTINGS AND VARIABLES OF PROJECT */

*, *::before, *::after {
  box-sizing: border-box;
}

body, * {
  font-family: "lato", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

button {
  border: none;
  outline: none;
  background: transparent;
  color: inherit;
  font: inherit;
}

// COLORS VARIABLES
:root {
  --main-color: #2C2C2C;
  --secondary-color: #B11F1F;
  --third-color: rgba(255, 255, 255, 0.25);
  --main-text-color: #FFFFFF;
  --disabled-bg-color: #676767;
  --disabled-text-color: #b0b0b0;
  --shadow-white: 0px 0px 20px 0px rgba(255, 255, 255, 0.25);
  --shadow-red: 0px 0px 20px 0px rgba(177, 31, 31, 0.25);
  --shadow-white-hover: 0px 0px 20px 0px rgba(255, 255, 255, 0.75);
  --shadow-red-hover: 0px 0px 20px 0px rgba(177, 31, 31, 0.75);
}